{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ league.name }} Ligi Kulüp Listesi</h1>
            {% if clubs|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Toplam Oyuncu</th>
                        <th>Net Değer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for club in clubs %}
                        <tr>
                            <td><a href="{{ path('default_players', {'league_id': league.id, 'club_id': club.id}) }}">{{ club.name }}</a></td>
                            <td>{{ club.playerCount }}</td>
                            <td>${{ club.worth }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}