{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Lig Listesi</h1>
            {% if leagues|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Toplam Takım</th>
                        <th>Toplam Oyuncu</th>
                        <th>Net Değer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for league in leagues %}
                        <tr>
                            <td><a href="{{ path('default_clubs', {league_id: league.id}) }}">{{ league.name }}</a></td>
                            <td>{{ league.clubCount }}</td>
                            <td>{{ league.playerCount }}</td>
                            <td>${{ league.worth }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}