{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ league.name }} Ligi {{ club.name }} Kulübü Oyuncu Listesi</h1>
            {% if players|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Uyruk</th>
                        <th>Yaş</th>
                        <th>Pozisyon</th>
                        <th>Net Değer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td>{{ player.nationality }}</td>
                            <td>{{ player.age }}</td>
                            <td>{{ player.position }}</td>
                            <td>${{ player.worth }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}