{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ league.name }} Ligi Kulüp Yönetimi</h1>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="post" action="{{ path('management_club_add', {'id': league.id}) }}" style="margin-top:30px;">
                <div class="form-group">
                    <label>Kulüp Adı</label>
                    <input type="text" name="name" required class="form-control">
                </div>
                <div class="form-group">
                    <label>Net Değer</label>
                    <input type="text" name="worth" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Ekle</button>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-12">
            <h3>Kulüpler</h3>
            {% if clubs|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Aksiyon</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for club in clubs %}
                        <tr>
                            <td>{{ club.name }}</td>
                            <td><a href="{{ path('management_players', {'league_id': league.id, 'club_id': club.id}) }}" class="btn btn-success">Oyuncu Ekle</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
