{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ club.name }} Kulübü Oyuncu Yönetimi</h1>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="post" action="{{ path('management_player_add', {'league_id': league.id, 'club_id': club.id}) }}" style="margin-top:30px;">
                <div class="form-group">
                    <label>Oyuncu Adı</label>
                    <input type="text" name="name" required class="form-control">
                </div>
                <div class="form-group">
                    <label>Yaşı</label>
                    <input type="number" name="age" class="form-control">
                </div>
                <div class="form-group">
                    <label>Uyruğu</label>
                    <input type="text" name="nationality" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mevki</label>
                    <input type="text" name="position" class="form-control">
                </div>
                <div class="form-group">
                    <label>Net Değer</label>
                    <input type="text" name="worth" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Ekle</button>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-12">
            <h3>Oyuncular</h3>
            {% if players|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Mevki</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td>{{ player.position }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
